<h1 class="page-header center-to-left">Edit Your Account</h1>
<br />

<%= render 'form' %>

<div class="cancel-link-form">
<p>[ <%= link_to "Cancel & Return To Profile", user_path(@user) %> ]</p>
</div>