<h1 class="page-header center-to-left">Create User Account</h1>
<br />
<%= render 'form' %>

<div class="cancel-link-form">
    <p>[ <%= link_to "Cancel & Return to Events", events_path %> ]</p>
</div>