
<div class="jumbotron">
  <h2>ThinManager Events</h2>
  <p>Find and sign up for the training classes, roadshows, and other events you want to find as it pertains to ThinManager and ACP.</p>
  <p><%= link_to "View Events", events_path, class: "btn btn-primary btn-lg" %></p>
</div>


<h4>Featured Events</h4>


<div class="row">
    <div class="col-md-3">
        <div class="thumbnail feature-event">
            <img src="#" />
            <div class="caption">
                <h3>Roadshows</h3>
                <p>You have to see ThinManager in action to really believe the power that is available for managing your entire production or work environment.</p>
                <%= link_to "View Events", root_path, class: "btn btn-default" %>
            </div>
        </div>
    </div>
</div>
