<div class="container">
<h1>Welcome to ThinManager Events</h1>
<p>This section of our website will help you find the training classes, roadshows, and other events you want to find as it pertains to ThinManager and ACP.</p>
</div>