.feature-event img {
    width:100%; max-width: 300px; margin-top: 20px; 
}
.select-relation {
    padding-top:15px;
}
.action-buttons {
    text-align:right;
}
.action-buttons .btn {
    margin-left: 5px;
}
.cancel-link-form {
    text-align:center; margin-top: 50px;
}
.small {
    font-size:.85em; font-style: italic; margin-bottom: 15px !important;
}
.center-to-left {
    text-align:center;
}
.user-listings,
.category-listing {
    list-style: none; padding-left: 0;
}
.user-listing-name {
    padding-top:10px;
}
.appear {
    display:none;
}
.goAway,
.goAwaySooner {
    display:inline;
}
.new-event-button {
    float:right; margin-top: -63px;
}
.new-venue-button {
    float:right; margin-top: -63px;
}
.gravatar-img {
    width:150px; text-align: center;
}
.gravatar-img .tiny {
    font-size:.75em;
}
.category-title {
    font-size:1.5em;
}
.well {
    max-width:95%; margin-bottom: 8px !important;
}
.input_checkbox {
    margin-right:20px;
}
.input-checkbox input {
    width: auto !important;
}
.badge {
    background-color: #7CB1C2;
}
.badge a {
    color:#000000; font-weight: lighter;
}
.form-horizontal {
    max-width:95% !important; margin-left:2.5% !important;
}
.state-dropdown {
    padding-top:5px;
}
.event-cost {
    text-align:right; padding-top: 10px; font-size: 1.15em;
}
.attendee-checkin-row {
    line-height:40px;
    margin-bottom: 4px;
}










/************************ Footer Specific CSS *************************/
.footer-text {
    font-size:.85em;
}
#footer a {
    color:#FFFFFF;
}
#footer {
    width:100%; background-color:#323232;  border-top:thin solid #5C5C5C;
    font-family: 'Roboto', sans-serif; color:#ffffff; min-height:330px; 
    padding-bottom:65px;
}
.lower-footer-boxes h4 {
    line-height:30px !important; color:#878686;
}
.lower-footer-boxes p {
    color:#D1CFCF; padding-left: 35px; 
    padding-right:35px; font-size: .85em;
}
.lower-footer-boxes a {
    color:#D1CFCF; text-transform:uppercase; font-weight:500;  
}
.lower-footer-boxes .lower-foot-box {
    border-right:1px solid #878686; min-height: 120px;
}
.lower-footer-boxes .lower-foot-box:last-child {
    border-right:none;
}
.footIcon1 {
    background-color:#00457c; width:45px; height:45px; border-radius:50%;
}
.footIcon1:hover {
    -webkit-box-shadow:0px 0px 12px 2px #02A5F7;
    -moz-box-shadow:0px 0px 12px 2px #02A5F7;
    -ms-box-shadow:0px 0px 12px 2px #02A5F7;
    -o-box-shadow:0px 0px 12px 2px #02A5F7;
    -chrome-box-shadow:0px 0px 12px 2px #02A5F7;
    box-shadow:0px 0px 12px 2px #02A5F7;    
}
/* Disclaimer box css */
#disclaimer {
    width:100%; background-color:#000000; padding-top:15px; padding-bottom: 25px; margin-bottom: -20px !important;
    color:#666666; 
}
.disLogo {
    opacity:.4;
}
#disclaimer ul.nav a {
    color:#666666;
}
#disclaimer ul.nav a:hover {
    background-color:transparent; color:#FFFFFF;
}
/************************ END Footer Specific CSS *************************/






@media screen and (max-width:992px) {

.well {
    left:2.5%;
}
.lower-footer-boxes .lower-foot-box {
    border-right:0px; min-height: inherit; padding-bottom: 20px;
}
.upper-foot-box {
    padding-bottom: 25px;
}
.event-cost {
    text-align:left; padding-top: 0px
}
.attendee-checkin-row {
    line-height:inherit;
    margin-bottom: 25px;
    padding-left: 25px;
}
.attendee-checkin-row .btn {
    margin-bottom:3px;
}
.goAwaySooner {
    display:none;
} 
}

@media screen and (max-width:766px) {
.center-to-left {
    text-align:left;
} 
.select-relation {
    padding-top:inherit;
}
.appear {
    display:inline;
}
.goAway {
    display:none;
} 
.divider {
    opacity:.25;
} 
.new-event-button, .new-venue-button {
    float:none; margin-top: 0px; margin-bottom: 25px;
} 
.state-dropdown {
    padding-top:0px; margin-bottom: 20px;
}
}