.feature-event img {
    width:100%; max-width: 250px; height:150px; background-color: #333333; 
}
.action-buttons {
    text-align:right;
}
.action-buttons .btn {
    margin-left: 5px;
}
.cancel-link-form {
    text-align:center; margin-top: 50px;
}
.small {
    font-size:.85em; font-style: italic; margin-bottom: 15px !important;
}