.feature-event img {
    width:100%; max-width: 250px; height:150px; background-color: #333333; 
}
.action-buttons {
    text-align:right;
}
.action-buttons .btn {
    margin-left: 5px;
}
.cancel-link-form {
    text-align:center; margin-top: 50px;
}
.small {
    font-size:.85em; font-style: italic; margin-bottom: 15px !important;
}
.center-to-left {
    text-align:center;
}
.user-listings {
    list-style: none; padding-left: 0;
}
.user-listing-name {
    padding-top:10px;
}
.appear {
    display:none;
}
.goAway {
    display:inline;
}
.new-event-button {
    float:right; margin-top: -63px;
}









@media screen and (max-width:766px) {
.center-to-left {
    text-align:left;
} 
.appear {
    display:inline;
}
.goAway {
    display:none;
} 
.divider {
    opacity:.25;
} 
.new-event-button {
    float:none; margin-top: 0px;
} 
}