<div id="footer">
    <div id="footerContent">
        <div id="footerTop">
                        <div class="footerBox" id="globalLead">
                            <img src="http://www.thinmanager.com/images/thinmanager-web-logo_foot.png" width="217px" height="30" alt="ThinManager Logo" />
                            <h1>The Global Leader</h1>
                            <p>ThinManager<span style="vertical-align:super; font-size:.75em;">&reg;</span> is the global leader in the automation industry that provides full-feature centralized
                             thin client and terminal server management.  Our unique software platform offers trendsetting, centralized 
                             management solutions for a modern industrial environment.</p>
                    </div>
                        <div class="footerBox">
                             
                            <a href="http://cta-redirect.hubspot.com/cta/redirect/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" 
                            style="border:0; text-decoration:none;">
                            <div class="footIcon1">
                            <img src="http://www.thinmanager.com/images/contacts-48.png" width="45" height="45" alt="person icon" /></div></a></span></span>
                            <h2>Stay In Touch:</h2>
                            <p>We send out quarterly newsletters. We promise to not flood your inbox.</p>
                            <!--HubSpot Call-to-Action Code -->
                                <span class="hs-cta-wrapper" id="hs-cta-wrapper-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                                    <span class="hs-cta-node hs-cta-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" id="hs-cta-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                        <a href="http://cta-redirect.hubspot.com/cta/redirect/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                                        <img class="hs-cta-img" id="hs-cta-img-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" style="border-width:0px;" 
                                        src="https://no-cache.hubspot.com/cta/default/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a.png" /></a>
                                    </span>
                                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                        <script type="text/javascript">
                                            hbspt.cta.load(87975, '878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a');
                                        </script>
                                </span>
                                <!-- end HubSpot Call-to-Action Code -->

                            
                            <!--<span id="hs-cta-wrapper-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                            <span id="hs-cta-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                            <a href="http://cta-redirect.hubspot.com/cta/redirect/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" 
                            id="subscribe"><h3 class="footButton">Subscribe &raquo;</h3></a></span></span> -->
                        </div>
                <div class="footerBox">
                                <a href="http://www.thinmanager.com/support" style="border:0; text-decoration:none;">
                                <div class="footIcon1">
                                <img src="http://www.thinmanager.com/images/wireless.png" width="45" height="45" alt="tech and wireless icon" /></div></a>
                            <h2>We Talk Tech:</h2>
                            <p>Our team is ready to help in whatever way is convenient for you. 
                            <a href="http://www.thinmanager.com/support">More &raquo;</a></p>
                    </div>
                <div class="footerBox">
                                <a href="http://www.thinmanager.com/products/thinmanager.php" style="border:0; text-decoration:none;">
                                <div class="footIcon1">
                                <img src="http://www.thinmanager.com/images/literature.png" width="45" height="45" alt="reference icon" /></div></a>
                            <h2>Want More?</h2>
                            <p>ACP has many resources to help you decide, deploy &amp; manage your modern facility.  
                            <a href="http://www.thinmanager.com/products/thinmanager.php">More &raquo;</a></p>
                        </div>
                
        </div>
       
       
       <div id="footerBottom">
                <div class="footerBoxLow" id="footLow1" style="">
                        
                        <h2> <img src="http://www.thinmanager.com/images/trainingIcon.png" width="30" height="30" alt="training icon" /> Training</h2>
                        <p>Need training? Or certification? Look at some of our classes. <a href="http://www.thinmanager.com/training"> More &raquo;</a></p>
                </div>
                                
                <div class="footerBoxLow">
                        <h2> <img src="http://www.thinmanager.com/images/knowledgeIcon.png" width="30" height="30" alt="knowledge base icon" /> Knowledge Base</h2>
                        <p>Bookmark worthy for beginners and powerusers alike. Find answers 
                        <a href="http://www.thinmanager.com/kb/index.php/Special:AllPages"> Here &raquo;</a></p>
                </div>
                <div class="footerBoxLow">
                        <h2> <img src="http://www.thinmanager.com/images/supportIcon.png" width="30" height="30" alt="support Icon" /> Support</h2>
                        <p>Need some help? Our tech support staff is here for you! <a href="http://www.thinmanager.com/support"> Get Help &raquo;</a></p>
                </div>
                <div class="footerBoxLow">
                        <h2> <img src="http://www.thinmanager.com/images/nuclear.png" width="30" height="30" alt="services icon" /> Services</h2>
                        <p>ACP offers several services to get your facility up and running.</p>
                </div>
                
                    
                    <div id="socialBottom" class="footerBoxLow">
                    <h2> <img src="http://www.thinmanager.com/images/spaces.png" width="30" height="30" alt="Social Spaces Icon" /> Connect</h2>
                            <div class="socialIcons2">
                                 <a href="http://www.thinmanager.com/search.php">
                                     <div class="icon" style="float:right;">
                                     <img class="qcImage9" src="http://www.thinmanager.com/images/search.png" alt="Search Icon" /></div></a>
                                     
                                <a href="https://www.facebook.com/ThinManager" target="_blank">
                                <div class="icon" style="float:right;">
                                <img class="qcImage4" src="http://www.thinmanager.com/images/fb_theF.png" alt="Facebook Icon" /></div></a>
                                
                                <a href="https://www.linkedin.com/company/770755?trk=tyah" target="_blank">
                                <div class="icon" style="float:right;">
                                <img class="qcImage5" src="http://www.thinmanager.com/images/linked.png" alt="LinkedIn Icon" /></div></a>
                                
                                <a href="https://twitter.com/thinmanager" target="_blank">
                                <div class="icon" style="float:right;">
                                <img class="qcImage6" src="http://www.thinmanager.com/images/twitterBird.png" alt="Twitter Icon" /></div></a>
                                
                                <a href="https://www.youtube.com/user/ThinManagerTV" target="_blank">
                                <div class="icon" style="float:right;">
                                <img class="qcImage7" src="http://www.thinmanager.com/images/youTube2.png" alt="YouTube Icon" /></div></a>
                                
                                <a href="http://blogs.thinmanager.com/thinclients/" target="_blank">
                                <div class="icon" style="">
                                <img class="qcImage8" src="http://www.thinmanager.com/images/feed2.png" alt="RSS Feed Icon" /></div></a>
                            </div>
                    </div>
                
       </div>
  </div>             
</div>                    
        
 <div id="disclaimer">
        <div id="disclaimerInfo">
                <div id="disLogo"><img src="http://www.thinmanager.com/images/acpLogo_smWhite.png" width="88" height="30" alt="ACP Logo" /></div>
              
              
            
                <ul>
                    <li style="border-left:none;"><a href="http://www.thinmanager.com/acp/aboutus.php">About</a></li>
                    <li><a href="http://www.thinmanager.com/media">Media</a></li>
                    <li><a href="http://www.thinmanager.com/support">Support</a></li>
                    <li><a href="http://www.thinmanager.com/partners">Partners</a></li>
                    <li><a href="http://www.thinmanager.com/acp/careers.php">Careers</a></li>
                    <li><a href="http://www.thinmanager.com/acp/privacy_terms.php">Privacy &amp; Terms</a></li>
                </ul>
                <hr class="disc-hr" style="border:1px solid #6D6D6D; opacity:.5; margin-top:15px;" />
                <p>&copy; 2016 Automation Control Products</p>
        </div>
 </div>